.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  padding: 5px 20px;
}

.wrapper fieldset {
  margin: 20px 0;
  border-block-color: black;
  border-block-width: thick;
  border-block-style: solid;
  border-left-width: thick;
  border-left-color: black;
  border-left-style: solid;
  border-right-width: thick;
  border-right-color: black;
  border-right-style: solid;
}
.wrapper div {
  margin-left: 1%;
}
